body{
background-image: url('bg.jpg');
 }

#st{
height:80px;
width:90px;
position:absolute;
top:40px;
left:70px;
}

#nt{
height:45px;
width:180px;
position:absolute;
top:50px;
left:410px;
}

#it{
height:65px;
width:280px;
position:absolute;
top:50px;
left:940px;
}


#nex{
height:500px;
width:700px;
position:relative;
top:20px;
left:175px;
}

#ipad{
height:350px;
width:400px;
position:relative;
top:-30px;
left:155px;
}

#intro{
color:#e6e6e6;
font-size:20px;
position:relative;
width:205px;
top:-360px;
left:15px;
}

#spec{
color:#e6e6e6;
font-size:20px;
font-family: "Verdana";
position:relative;
top:-210px;
left:15px;
}

#specn{
color:#242424;
font-size:22px;
font-family: "Garamond";
font-weight:bold;
position:absolute;
top:540px;
left:390px;
width:200px;
}

#speci{
color:#545454;
font-size:22px;
font-family: "Courier";
font-weight:bold;
position:absolute;
top:540px;
left:950px;
width:200px;

}

address{
position:absolute;
top:1500px;
left:500px;}
